<template>
<div>
  <div class="col-full">
     <h1>{{category.name}}</h1>
     <p class="text-lead">{{category.description}}</p> 
  </div>

    <div class="col-full push-top">
      <CategoryListItem :category="category" />
    </div>
</div>
</template>

<script>
import sourceData from "@/data"
import CategoryListItem from '@/components/CategoryListItem'

export default {
  components: {
    CategoryListItem
  },
   props: {
        id: {
            required: true,
            type: String
        }
    },
    computed: {
        category() {
            return sourceData.categories[this.id] //return categories id
        }
    }
};

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
