<template>
    <div class="col-full" :class="$style.centered">
        <h1 :class="$style['heading-large']">Not Found</h1>
        <p>Oops, <router-link :to="{name: 'home'}"> go home instead</router-link></p>
        </div>
</template>

<style module>/* CSS Modules with Webpack */
.heading-large {
    font-size: 100px;
}

.text-large {
    font-size: 50px;
    font-weight: 100;
}

.centered {
    text-align: center;
}
</style>