<template>
  <div class="container">
    <div class="col-large push-top">
      <h2>{{thread.title}}</h2>

      <p>
        By <a href="/" class="link-unstyled">Robin</a>, <AppDate :timestamp="thread.publishedAt" />
        <span style="float:right;" class="text-small">3 replies by 3 contributprs</span>
      </p>
      <PostList :posts="posts" />
      <PostEditor @save="addPost" :threadId="id" />
    </div>
  </div>
</template>


<script>
import sourceData from "@/data";
import PostList from "@/components/PostList";
import PostEditor from "@/components/PostEditor";

export default {
  components: {
    PostList,
    PostEditor
  },
  props: {
    id: {
      required: true,
      type: String
    }
  },
  data() {
    return {
      thread: sourceData.threads[this.id]
    };
  },
  computed: {
    posts() {
      const postIds = Object.values(this.thread.posts);
      return Object.values(sourceData.posts).filter(post =>
        postIds.includes(post[".key"])
      ); //return an array of posts
    }
  },
  methods: {
    addPost({post}) {
      
      const postId = post['.key']
      this.$set(sourceData.posts, postId, post);
      this.$set(this.thread.posts, postId, postId);
      this.$set(sourceData.users[post.userId].posts, postId, postId);
    }
  }
};
</script>