<template>
  <div class="my-container">
    <h2 class="list-title">Threads</h2>
    <div class="col-full thread-list">
      <ThreadListItem v-for="thread in threads" :thread="thread" :key="thread['.key']" />
    </div>
  </div>
</template>

<script>
import sourceData from "@/data";
import ThreadListItem from "./ThreadListItem";

export default {
  components: {
    ThreadListItem
  },
  props: {
    threads: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      thread: sourceData.threads[this.id],
      posts: sourceData.posts,
      users: sourceData.users
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
